@import '../../App.scss';

.header-wrapper {
    text-align: center;
    color: $foreground-colour1;
    padding: 35px 25px;

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        color: $colour1;
    }
}