
.error,
.loading-spinner-container {
    padding-top: 20px;
}

.article {
    max-width: 900px;    
    margin: 0px auto;
    padding-top: 20px;

    .article-content {        
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
    }
}
