@import '../../App.scss';

.loading-spinner-container,
.error {
    padding-top: 20px;
}

.articles {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    
    .articles-jumbotron {
        max-width: 900px;    
        margin: 0 auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
        background-color: $panel-background-colour;
    }
    
    .articles-row {
        display: flex;
        max-width: 900px;    
        margin: 15px auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
        color: $sidebar-background-colour1;
        background-color: $panel-background-colour;
        transition: background-color 0.1s linear;

        * {
            flex: 1;
        }

        h3 {
            margin: 0;
        }

        &:hover {
            background-color: $colour1;
            color: white;
        }
    }
}