@import '../../App.scss';

$spinner-size: 100px;

.loading-spinner-container {
    padding-top: 20px;
    text-align: center;

    .mat-spinner {
        width: $spinner-size !important;
        height: $spinner-size !important;
    }
}

.articles {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    
    .articles-jumbotron {
        max-width: 900px;    
        margin: 0 auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
        background-color: $body-background-colour1;
        color: $foreground-colour1;

        h2 {
            color: $colour2;
        }
    }
    
    .articles-row {
        display: flex;
        max-width: 900px;    
        margin: 15px auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
        color: $foreground-colour1;
        background-color: $body-background-colour1;
        transition: background-color 0.1s linear;

        * {
            flex: 1;
        }

        h3 {
            margin: 0;
        }

        &:hover {
            background-color: $colour1;
            color: white;
        }
    }
}