@import '../../App.scss';

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: $foreground-colour1;

  .fas {
    font-size: 4em;
  }
}