@import '../../../App.scss';

$spinner-size: 100px;


.sidebar-user {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 27px;

    .user-initials {
        background-color: $sidebar-background-colour2;
        color: $colour2;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        margin: 0 auto;
        font-size: 2.5em;
    }
    
    .welcome-label {
        font-size: 0.8em;
    }

    .name-label {
        font-size: 0.8em;
    }
}


.loading-spinner-container {
    text-align: center;

    .mat-spinner, .fas {
        width: $spinner-size !important;
        height: $spinner-size !important;
        color: $colour1 !important;
    }        

    .fas {
        font-size: 5em;
    }
}

.sidebar-items {
    padding-bottom: 65px;
    overflow-x: hidden;

    .section-parent {
        cursor: pointer;
        display: flex;
        align-items: center;            
        background-color: $sidebar-background-colour3;
    
        a, 
        .sidebar-link {
            display: block;
            display: flex;
            padding: 12px 15px;
            width: 100%;
            font-size: 0.9em;

            &.parent {
                background-color: $sidebar-background-colour2;
            }
        }
    
        .section-icon {
            font-size: 16px;
            margin: 0 5px;
            color: $colour1;
        }


        .rotate {    
            transition: all 0.2s linear;
            position: absolute;
            right: 4px;
            
            &.deg90 {
                transform: rotate(90deg);
            }    
        }        
    
        &:hover {
            background-color: $colour1;
            
            .section-icon {
                color: $foreground-colour1 !important;
            }        
        }
    }
}

.section-children {
    background-color: $sidebar-background-colour2;
}
