@import '../../App.scss';

.content-container {
  color: $foreground-colour1;
  display: flex;

  .content-menu {
    flex: 1;
    background-color: $sidebar-background-colour1;
    margin: 15px;
    padding: 15px;
  }

  .content-editor {
    flex:2;
    background-color: $sidebar-background-colour1;    
    margin: 15px;
    padding: 15px;
  }  
}