@import '../../App.scss';

.section-parent,
.section-child {
    cursor: pointer;
    display: flex;
    align-items: center;

    .section-icon {
        font-size: 16px;
        margin: 0 5px;
        color: $colour1;
    }

    &:hover {
        .section-icon {
            color: white !important;
        }        
    }
}


.rotate {    
    transition: all 0.2s linear;
    position: absolute;
    right: 4px;
    
    &.deg90 {
        transform: rotate(90deg);
    }    
}

a {
    text-decoration: none !important;
    color: white;
}