@import '../../App.scss';

.sidebar-header {
    background-color: $sidebar-background-colour2;
    height: $top-nav-height;
    text-align: center;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}