@import '../../App.scss';

.loading-spinner-container {
    color: white;
}

.error-container {
    text-align: center;
    color: white;

    .fas {
        font-size: 5em;
        color: $colour2;
        margin: 15px;;
    }
}

.news {
    padding-left: 15px;
    padding-right: 15px;

    .news-item {
        max-width: 900px;
        margin: 15px auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
        background-color: $body-background-colour1;
        color: $panel-background-colour-alt;
    
        .news-header {
            display: flex;
            justify-content: space-between;
    
            :last-child {
                margin-left: auto;
            }
    
            h3 {
                margin: 0;
                color: $colour1;
            }        
        }
    }
}
