@import './sh.scss';

$body-background-colour1: #263942;
$body-background-colour2: #132229;
$foreground-colour1: #fff;

$sidebar-background-colour1: #2b3b44;
$sidebar-background-colour2: #132229;
$sidebar-foreground-colour1: #fff;
$sidebar-foreground-colour2: #aaa;

$nav-bar-background-colour: #233239;
$nav-bar-foreground-colour: #fff;
$nav-bar-item-hover-colour: #007cc4;
$nav-bar-item-hover-background-colour: #0096c4;

$colour1: #1485b9;
$colour2: #008dc4;

$panel-background-colour: #fff;
$panel-background-colour-alt: #f5f5f5;

$sidebar-width: 250px;
$top-nav-height: 65px;

body {
  background-color: $body-background-colour2;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.router-outlet {
  margin-left: $sidebar-width;
  padding-top: $top-nav-height;
}


.collapse {
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
